In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')
!pip install sweetviz
!pip install missingno

In [ ]:
import pandas as pd

# Adjust the path to your file location in Google Drive
df = pd.read_csv('co2_emissions_from_agri.csv')
df.head()

In [ ]:
print(f'Name of Columns is: \n {df.columns}')

In [ ]:
df.info()

In [ ]:
print(f'Is there missing data in the columns?\n{df.isna().any()}')

In [ ]:
df.isna().sum()

In [ ]:
import sweetviz as sv
# Generate a report
report = sv.analyze(df)

# Show the report
report.show_html('report.html')

In [9]:
df.shape

(6965, 31)

In [11]:
numeric_df = df
numeric_df.dropna(axis=0, how='any', inplace = True)
numeric_df.drop(['Savanna fires','Fires in organic soils','Fires in humid tropical forests','Drained organic soils (CO2)'], axis=1,inplace = True)
numeric_df.shape

(4546, 27)

In [12]:
# Generate a report
report2 = sv.analyze(numeric_df)

# Show the report
report2.show_html('report2.html')

                                             |          | [  0%]   00:00 -> (? left)

Report report2.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [13]:
# Count rows and columns with missing values
missing_rows = df.isnull().any(axis=1).sum()
missing_columns = df.isnull().sum()
columns_with_missing_values = missing_columns[missing_columns > 0].count()
print(f"\nNumber of rows with missing values: {missing_rows}")
print(f"Number of columns with missing values: {columns_with_missing_values}")

Number of rows with missing values: 0
Number of columns with missing values: 0

In [10]:
print(f"\nNumber of rows percentage: {missing_rows/df.shape[0]*100}")
#print(f"\nNumber of columns percentantaege: {columns_with_missing_values/df.shape[1]*100}")

Number of rows percentage: 34.7307968413496

In [11]:
# Separate numeric and non-numeric columns
numeric_df = df.select_dtypes(include=['float64', 'int64'])
non_numeric_df = df.select_dtypes(exclude=['float64', 'int64'])

# Handle missing values using the average for numeric data
numeric_df = numeric_df.fillna(numeric_df.mean())
numeric_df['Savanna fires'] = numeric_df['Savanna fires'].interpolate()
numeric_df['Forest fires'] = numeric_df['Forest fires'].interpolate()
numeric_df['Crop Residues'] = numeric_df['Crop Residues'].interpolate()
numeric_df['Forestland'] = numeric_df['Forestland'].interpolate()
numeric_df['Net Forest conversion'] = numeric_df['Net Forest conversion'].interpolate()
numeric_df['Food Household Consumption'] = numeric_df['Food Household Consumption'].interpolate()
numeric_df['IPPU'] = numeric_df['IPPU'].interpolate()
numeric_df['Manure applied to Soils'] = numeric_df['Manure applied to Soils'].interpolate()
numeric_df['Manure Management'] = numeric_df['Manure Management'].interpolate()
numeric_df['Fires in humid tropical forests'] = numeric_df['Fires in humid tropical forests'].interpolate()
numeric_df['On-farm energy use'] = numeric_df['On-farm energy use'].interpolate()
numeric_df.head()

# Combine the data back
df[numeric_df.columns] = numeric_df


print("\nAfter filling missing values with interpolated for numeric columns:")
df.head()

After filling missing values with averages for numeric columns:

,Area,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,...,Manure Management,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature Â°C
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.00,0.0,11.807483,63.1152,-2388.803,...,319.1763,0.0,0.0,3008.982252,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.16,0.0,11.712073,61.2125,-2388.803,...,342.3079,0.0,0.0,3008.982252,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.00,0.0,11.712073,53.3170,-2388.803,...,349.1224,0.0,0.0,3008.982252,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.00,0.0,11.712073,54.3617,-2388.803,...,352.2947,0.0,0.0,3008.982252,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.60,0.0,11.712073,53.9874,-2388.803,...,367.6784,0.0,0.0,3008.982252,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250

In [12]:
import sweetviz as sv
# Generate a report
report = sv.analyze(df)

# Show the report
report.show_html('report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [13]:
# Check again
df.isna().sum()

Area                               0
Year                               0
Savanna fires                      0
Forest fires                       0
Crop Residues                      0
Rice Cultivation                   0
Drained organic soils (CO2)        0
Pesticides Manufacturing           0
Food Transport                     0
Forestland                         0
Net Forest conversion              0
Food Household Consumption         0
Food Retail                        0
On-farm Electricity Use            0
Food Packaging                     0
Agrifood Systems Waste Disposal    0
Food Processing                    0
Fertilizers Manufacturing          0
IPPU                               0
Manure applied to Soils            0
Manure left on Pasture             0
Manure Management                  0
Fires in organic soils             0
Fires in humid tropical forests    0
On-farm energy use                 0
Rural population                   0
Urban population                   0
Total Population - Male            0
Total Population - Female          0
total_emission                     0
Average Temperature Â°C             0
dtype: int64

In [14]:
print(f'Is there duplicated rows in the columns?\n{df.duplicated().any()}')

Is there duplicated rows in the columns?
False

In [15]:
df_before = df.copy()
df = df[(df['Fertilizers Manufacturing'] - df['Fertilizers Manufacturing'].mean()).abs() <= 3 * df['Fertilizers Manufacturing'].std()]
print("\nAfter removing outliers:")

print("\nNumber of outliers removed:", len(df_before) - len(df))

After removing outliers:

Number of outliers removed: 66

In [16]:
df.head()

,Area,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,...,Manure Management,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature Â°C
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.00,0.0,11.807483,63.1152,-2388.803,...,319.1763,0.0,0.0,3008.982252,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.16,0.0,11.712073,61.2125,-2388.803,...,342.3079,0.0,0.0,3008.982252,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.00,0.0,11.712073,53.3170,-2388.803,...,349.1224,0.0,0.0,3008.982252,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.00,0.0,11.712073,54.3617,-2388.803,...,352.2947,0.0,0.0,3008.982252,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.60,0.0,11.712073,53.9874,-2388.803,...,367.6784,0.0,0.0,3008.982252,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250

In [17]:
df.shape

(6899, 31)